
.alert-success {
    background-color: white
}

.alert-warning {
    background-color: orangered;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: white;
}
nav li{display: inline; background-color: black;}
nav li a{color: white}
input{border-radius: 10%;}
body{
    background-color: grey;
    color: rgb(0, 0, 0);

}